<% if (typeof product !== 'undefined' && product != null) { %>
<div class="banner-top">
  <div class="container padding-1em">
    <h3 class="banner-top-bread-h3" style="font-family: 'EB Garamond', serif;">
      <%= product.name %>
    </h3>
    <h4 class="banner-top-bread-h4" style="font-family: 'EB Garamond', serif;">
      <a href="/">Trang Chủ</a>
      <% if (product.categories.id !== 12) { %>
      <label>/</label>
      <a
        href="/<%= product.product_type.slug %>"
        style="font-family: 'EB Garamond', serif;"
        ><%= product.product_type.name %></a
      >
      <% } %>
      <label>/</label>
      <a
        href="/<%= product.product_type.slug %>/<%= product.categories.slug %>"
        style="font-family: 'EB Garamond', serif;"
        ><%= product.categories.name %></a
      >
      <% if (product.provider.id !== 26) { %>
      <label>/</label>
      <a
        style="font-family: 'EB Garamond', serif;"
        href="/<%= product.product_type.slug %>/<%= product.categories.slug %>/<%= product.provider.slug %>"
        ><%= product.provider.name %></a
      >
      <% } %>
      <label>/</label><%= product.name %>%>
    </h4>
    <div class="clearfix"></div>
  </div>
</div>
<% }%>
