<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ../shared/user/styles.ejs %>
  </head>

  <body>
    <!-- HEADER -->
    <% include ../shared/user/header.ejs %>
    <!-- /HEADER -->
    <% include ../shared/user/breadcrumb.ejs %>
    <!-- /BREADCRUMB -->
    <div id="vide">
      <div class="container">
        <div class="banner-info">
          <div class="dump-height"></div>
        </div>
      </div>
    </div>
    <!--content-->
    <div class="product">
      <div class="container">
        <div class="spec">
          <h3>Danh mục được quan tâm nhiều nhất</h3>
          <div class="ser-t">
            <b></b>
            <span><i></i></span>
            <b class="line"></b>
          </div>
        </div>
        <%if (categoryCollections && categoryCollections.length > 0) { %> <%
        categoryCollections.forEach(item => { %>
        <div class="col-md-4 m-w3ls">
          <div class="col-md1 fixed-height-320 card-category">
            <a href="/<%= item.dataValues.productTypeSlug %>/<%= item.slug %>">
              <img
                src="<%= item.dataValues.image %>"
                class="img-responsive img img-300"
                alt="<%= item.name %>"
                title="<%= item.name %>"
              />
            </a>
            <h3 class="most-cageogry-title">
              <a
                href="/<%= item.dataValues.productTypeSlug %>/<%= item.slug %>"
                class="linkkk"
              >
                <%= item.name %></a
              >
            </h3>
          </div>
        </div>
        <% }) %> <% } %>
      </div>
    </div>
    <!--content-->
    <div class="product">
      <div class="container">
        <div class="spec">
          <% if (main) { %>
          <h3><%= main.name %></h3>
          <% } %>
          <div class="ser-t">
            <b></b>
            <span><i></i></span>
            <b class="line"></b>
          </div>
        </div>
        <div class="con-w3l agileinf">
          <% products.forEach(item => { %>
          <div class="col-md-3 pro-1">
            <div class="col-m fixed-height">
              <a href="/<%= item.slug %>" class="offer-img">
                <img
                  src="<%= item.image %> "
                  class="img-responsive img-110"
                  alt="<%= item.name %>"
                  title="<% item.name %>"
                />
              </a>
              <div class="mid-1">
                <div class="women">
                  <h6>
                    <a href="/<%= item.slug %>">
                      <% if (item.name.split(" ").length > 15) { %> <%=
                      item.name.slice(0, 100) %> ... <% } else { %> <%=
                      item.name %> <% } %>
                    </a>
                  </h6>
                </div>
                <% if (item.categories.id !== 12){ %>
                <div class="pr-single">
                  <p class="reduced">
                    Giá: Liên Hệ
                  </p>
                </div>
                <% if (item.provider.id !== 26) { %>
                <p>
                  <strong>Thương hiệu: </strong>
                  <a
                    href="/<%= item.product_type.slug %>/<%= item.categories.slug %>/<%= item.provider.slug %>"
                    ><%= item.provider.name %></a
                  >
                </p>
                <% } %>
                <p>
                  <strong>Danh mục:</strong>
                  <a
                    href="/<%= item.product_type.slug %>/<%= item.categories.slug %>"
                    ><%= item.categories.name %></a
                  >
                </p>
                <p>
                  <strong>Loại:</strong>
                  <a href="/<%= item.product_type.slug %>"
                    ><%= item.product_type.name %></a
                  >
                </p>
                <% } else { %>
                <div class="pr-single">
                  <p class="reduced">
                    Đăng lúc: <%= item.createdAt.toLocaleString() %>
                    <br />
                    Danh mục: <%= item.categories.name %>
                  </p>
                </div>
                <% } %>
              </div>
            </div>
          </div>
          <%})%>
          <div class="clearfix"></div>
        </div>
      </div>
    </div>
    <!-- /Section -->

    <!-- FOOTER -->
    <% include ../shared/user/footer.ejs %>
    <!-- /FOOTER -->
    <!-- jQuery Plugins -->
    <% include ../shared/user/scripts.ejs %>
  </body>
</html>
