<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ../shared/user/styles.ejs %>
    <link rel="stylesheet" href="/css/custom-table.css" />
  </head>

  <body>
    <!-- HEADER -->
    <% include ../shared/user/header.ejs %>
    <!-- /HEADER -->

    <!-- MAIN -->
    <div style="margin-top: 3.5em">
      <div class="container">
        <div class="spec">
          <h3>
            Bảng Giá Ngày
            <span style="color: #18bc9b; font-family: 'EB Garamond', serif;"
              ><%= new Date().toLocaleString().split(', ')[0] %></span
            >
          </h3>
          <div class="ser-t">
            <b></b>
            <span style="background-color: #fbfeff;"><i></i></span>
            <b class="line"></b>
          </div>
        </div>
        <div class="container">
          <!-- <div class="header_wrap">
            <div class="tb_search">
              <input
                type="text"
                id="search_input_all"
                onkeyup="FilterkeyWord_all_table()"
                placeholder="Lọc kết quả.."
                class="form-control"
              />
            </div>
          </div> -->
          <table class="table table-striped table-class" id="table-id">
            <thead>
              <tr>
                <th>Hình ảnh</th>
                <th>Chi tiết & mô tả</th>
                <th>Giá</th>
                <th>Bảo hành</th>
              </tr>
            </thead>
            <tbody>
              <% categories.forEach(pt => { %>
              <tr>
                <td colspan="4" class="spec-title" style="padding: unset !important;">
                  <div class="productType-name">
                  <h3><%= pt.name %></h3>
                </div>
                </td>
              </tr>
              <% Object.keys(pt.categories).forEach(c => { %>
                <tr>
                  <td colspan="4" class="spec-title" style="padding: unset !important;">
                    <div class="category-name">
                    <h3><%= c %></h3>
                  </div>
                  </td>
                </tr>
              <% Object.values(pt.categories[c]).forEach(p => { %> <% if
              (p.category_id === 12 ) return %>
              <tr class="filter">
                <td><a href="/<%= p.slug %>">
                  <img width="70" src="<%= p.image %>" alt="<%= p.name %>" title="<%= p.name %>">
                </a></td>
                <td><a href="/<%= p.slug %>"> <%= p.name %></a></td>
                <td><%= p.price === 0 ? 'Liên hệ' : p.price + 'đ' %></td>
                <td><%= p.warranty %> Tháng</td>
              </tr>
              <!-- hi -->
              <% }) %>
              <!-- hi -->
              <% }) %>
              <!-- hi -->
              <% }) %>
            </tbody>
          </table>
      </div>
    </div>
    <!-- /MAIN -->

    <!-- FOOTER -->
    <% include ../shared/user/footer.ejs %>
    <!-- /FOOTER -->
    <!-- jQuery Plugins -->
    <% include ../shared/user/scripts.ejs %>
    <script src="/js/paginate.js"></script>
  </body>
</html>
